.wrapper{

    display:flex;

    flex-direction:column;

    height:100%;

    width:100%;

    transition:
            transform .35s ease,
            box-shadow .35s ease;

}

.wrapper:hover{

    transform:translateY(-4px);

}