.page{

    width:100%;

    min-height:100%;

    padding:32px;

    display:flex;

    flex-direction:column;

    gap:24px;

}

@media(max-width:768px){

    .page{

        padding:20px;

    }

}